body {
   
    background-image: url('https://wallpapermemory.com/uploads/278/game-of-thrones-background-full-hd-1920x1080-383408.jpg');
    font-family: 'Cinzel Decorative', cursive;
    background-size: cover;
    cursor: pointer;
    
}

.options {
    display: none;
    color: white;
    text-align: center;
    margin: auto;
}
#type {
    font-size: 50px;
}
.child {
   align-items: center;
   margin-top: 15rem;

    
}
.rules {
    display: none;
    color: white;
    text-align: center;
    margin-top: 15rem;
}
.game {
    display: none;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 100px;
}
#main {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   color: whitesmoke;
   font-weight: bold;
   padding-top: 150px;
}

#fade-in-text{
  text-align: center;
  background-color: black;
  color: white;
  animation: fadeIn linear 6s;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
#fade-in-text:hover {
    background: white;
    color: black;
}
.nuclear {
    display: none;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1};
}

.modal {
   
    background-color: rgba(0, 0,0, .4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    margin: auto;
    display: none;
}
.noModal {
    background-color: rgba(0, 0,0, .4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    margin: auto;
    display: none;
    
}
#modal-textbox{
    background-color: black;
    color: red;
    /* height: 350px; */
    width: 250px;
    border-radius: 5px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rbga(0, 0, 0, .4);
    padding: 5rem;
    
}
#modal-textbox {
    text-align: center;

}
.modal-buttons {
	padding: 12px 18px;
	background-color: #b70f0f;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;

}
.choice {
    background-color: rgb(155, 1, 1);
    color: white;
    padding: 2rem;
    text-align: center;
    animation: fadeIn linear 6s;
    cursor: pointer;
}
.choice:hover {
    background: white;
    color: black;
}
.questions {
    text-align: center;
    margin: auto;
}
